In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Dell\OneDrive\Desktop\cleaned_healthcare_dataset.csv")
print("First 5 rows of the dataset:")
display(df.head())
print("\nDataset Shape (Rows, Columns):")
print(df.shape)
print("\nColumn Names:")
print(df.columns)
print("\nData Types of Columns:")
print(df.dtypes)
print("\nDataset Information:")
df.info()
print("\nStatistical Summary:")
display(df.describe())
print("\nMissing Values Count:")
print(df.isnull().sum())

First 5 rows of the dataset:

,Patient_id,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,1.0,Bobby Jackson,30.0,Male,B-,Cancer,31-01-2024,Matthew Smith,Sons And Miller,Blue Cross,18856.28,328.0,Urgent,02-02-2024,Paracetamol,Normal,2.0
1,2.0,Leslie Terry,62.0,Male,A+,Obesity,20-08-2019,Samantha Davies,Kim Inc,Medicare,33643.33,265.0,Emergency,26-08-2019,Ibuprofen,Inconclusive,6.0
2,3.0,Danny Smith,76.0,Female,A-,Obesity,22-09-2022,Tiffany Mitchell,Cook Plc,Aetna,27955.10,205.0,Emergency,07-10-2022,Aspirin,Normal,15.0
3,4.0,Andrew Watts,28.0,Female,O+,Diabetes,18-11-2020,Kevin Wells,"Hernandez Rogers And Vang,",Medicare,37909.78,450.0,Elective,18-12-2020,Ibuprofen,Abnormal,30.0
4,5.0,Adrienne Bell,43.0,Female,AB+,Cancer,19-09-2022,Kathleen Hanna,White-White,Aetna,14238.32,458.0,Urgent,09-10-2022,Penicillin,Abnormal,20.0

Dataset Shape (Rows, Columns):
(54970, 17)

Column Names:
Index(['Patient_id', 'Name', 'Age', 'Gender', 'Blood Type',
       'Medical Condition', 'Date of Admission', 'Doctor', 'Hospital',
       'Insurance Provider', 'Billing Amount', 'Room Number', 'Admission Type',
       'Discharge Date', 'Medication', 'Test Results', 'Length of Stay'],
      dtype='object')

Data Types of Columns:
Patient_id            float64
Name                   object
Age                   float64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number           float64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
Length of Stay        float64
dtype: object

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54970 entries, 0 to 54969
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_id          54966 non-null  float64
 1   Name                54966 non-null  object
 2   Age                 54966 non-null  float64
 3   Gender              54966 non-null  object
 4   Blood Type          54966 non-null  object
 5   Medical Condition   54966 non-null  object
 6   Date of Admission   54966 non-null  object
 7   Doctor              54966 non-null  object
 8   Hospital            54966 non-null  object
 9   Insurance Provider  54966 non-null  object
 10  Billing Amount      54966 non-null  float64
 11  Room Number         54966 non-null  float64
 12  Admission Type      54966 non-null  object
 13  Discharge Date      54966 non-null  object
 14  Medication          54966 non-null  object
 15  Test Results        54966 non-null  object
 16  Length of Stay      54966 non-null  float64
dtypes: float64(5), object(12)
memory usage: 7.1+ MB

Statistical Summary:

,Patient_id,Age,Billing Amount,Room Number,Length of Stay
count,54966.000000,54966.000000,54966.000000,54966.000000,54966.000000
mean,27483.500000,51.535185,25544.306260,301.124404,15.499290
std,15867.461785,19.605661,14208.409715,115.223143,8.661471
min,1.000000,13.000000,-2008.490000,101.000000,1.000000
25%,13742.250000,35.000000,13243.722500,202.000000,8.000000
50%,27483.500000,52.000000,25542.750000,302.000000,15.000000
75%,41224.750000,68.000000,37819.857500,401.000000,23.000000
max,54966.000000,89.000000,52764.280000,500.000000,30.000000

Missing Values Count:
Patient_id            4
Name                  4
Age                   4
Gender                4
Blood Type            4
Medical Condition     4
Date of Admission     4
Doctor                4
Hospital              4
Insurance Provider    4
Billing Amount        4
Room Number           4
Admission Type        4
Discharge Date        4
Medication            4
Test Results          4
Length of Stay        4
dtype: int64